fastapi   # webový framework pro API
uvicorn  # ASGI server pro běh FastAPI
pyodbc  # pro připojení k SQL Serveru
pydantic       # pro validaci datových modelů
requests    # volá REST API
python-dotenv  # pro ochranu hesla
fastmcp  # mcp server framework